<!DOCTYPE html>
<html>
{% embed 'admin-head-tag.twig' %}
{% block title %}Admin Login{% endblock %}
{% endembed %}
<body>
	{% include 'nav.twig' %}
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<!-- <div class="login">
				<div class="login-heading">Log in</div> -->
				<div class="login">
					<!-- <h3 class="login-heading">Log In</h3> -->
					<form action="/inc/controllers/admin-login.php" method="post" role="form">
							<div id="photo" class="form-row "></div>
							<div class="form-group form-row">
								<input class="form-control" placeholder="Username" name="username" type="text" autofocus="">
							</div>
							<div class="form-group form-row">
								<input class="form-control" placeholder="Password" name="password" type="password" value="">
							</div>
							<div class="checkbox form-row">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Remember Me
								</label>
							</div><br>
							<div id="info" class="form-row">
								<button type="submit" class="btn btn-primary" name="signIn">LOGIN</button>
							</div><br>
					</form>
				</div>
			<!-- </div>
		</div> /.col-->
	</div><!-- /.row -->	
	

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
