<!DOCTYPE html>
<html>

{% embed 'admin-head-tag.twig' %}

{% block title %}Edit Student{% endblock %}
{% endembed %}
<link rel="stylesheet" href="css/waitMe.min.css">

<body>
	{% include 'nav.twig' %}
	{% include 'sidebar.twig' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Students</li>
			</ol>
		</div>
			
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Edit Student</h2>
			</div>
		</div>

		<div class="container search-bar">
			<form id="search-form">
				<div class="form-row col-lg-12">
					<div class="form-row">
						<div class="form-group col-lg-4">
							<input id="searchInput" type="text" class="form-control" name="search" placeholder="Search" autofocus="">
						</div>
						<div class="form-group col-lg-4">
							<select id="search-option" name="search-options" class="form-control col-lg-4">
							<option selected value="name">By Name</option>
							<option value="regNo">By Reg. no.</option>
							</select>
						</div>
						<div class="form-group col-lg-2">
							<input id="search" type="submit" name="search" class="btn btn-primary form-control" value="Search">
						</div>
					</div>
				</div>
			</form>
		</div><br><br>
		<div id="details">
			<div id="profile-pic" class="container">
			</div><br>
			<div class="clear"></div>
			<div id="info">
				<p><label>Status :&nbsp;</label>Admitted <span class="fa fa-2x fa-check-square-o" style="color: #1ae015;"></span>
				</p>
			</div>
		</div><br>

		<div id="options" class="row text-center">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
				<span class="fa fa-pencil"></span> Edit Student
			</button>
		</div><br><br>

		<!-- Modal -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog text-center" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalLabel">Edit Student Information</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <form method="post" action="/inc/controllers/edit-student.php">
				      <div class="modal-body">
				        <div class="form-row col-md-12">
						    <div class="form-group">
						        <label for="surname4">Surname</label>
						        <input type="text" id="surname4" class="form-control" name="surname" placeholder="Surname" required="">
						    </div>
						    <div class="form-group">
						        <label for="firstname4">First Name</label>
						        <input type="text" id="firstname4" class="form-control" name="firstname" placeholder="First Name" required="">
						    </div>
						    <div class="form-group">
						        <label for="middlename4">Middle Name</label>
						        <input type="text" id="middlename4" class="form-control" name="middlename" placeholder="Middle Name">
						    </div>
						</div>
						<div class="form-row col-md-12">
						    <div class="form-group">
						        <label for="dateOfBirth">Date Of Birth</label>
						        <input type="date" id="dateOfBirth" class="form-control" name="dob" required="">
						    </div>
						    <div class="form-group">
						        <label for="gender4">Gender</label>
						        <select id="gender4" name="gender" class="form-control" required="">
						          	<option selected="" value="Male">Male</option>
						          	<option value="Female">Female</option>
						          	<option value="Other">Other</option>
						         </select>
						    </div>
						    <div class="form-group">
						        <label for="bg">Blood Group</label>
						        <select id="bg" name="bloodGroup" class="form-control" required="">
						          	<option selected="" value="A">A</option>
						          	<option value="B">B</option>
						          	<option value="AB">AB</option>
						          	<option value="0">O</option>
						        </select>
						    </div>
						</div>
						<div class="form-row col-md-12">
						 	<div class="form-group">
							    <label for="state">State Of Origin</label>
							    <select id="state" name="stateOfOrigin" class="form-control" required="">
							    </select>
							</div>
							<div class="form-group">
							    <label for="lg">LGA</label>
							    <select id="lg" name="lga" class="form-control" required="">
							    </select>
							</div>
							<div class="form-group">
							    <label for="rel">Religion</label>
							    <select id="rel" name="religion" class="form-control" required="">
								    <option selected="" value="Islam">Islam</option>
								    <option value="Christianity">Christianity</option>
								    <option value="Traditional">Traditional</option>
								    <option value="Other">Other</option>
								</select>
							</div>
						</div>
						<div class="form-row col-md-12">
						    <div class="form-group">
						        <label for="e-mail">Email Address</label>
						        <input type="email" id="e-mail" class="form-control" name="email" placeholder="e.g johndoe@example.com" required="">
						    </div>
						    <div class="form-group">
						        <label for="phoneNum">Phone Number</label>
						        <input type="text" id="phoneNum" name="phone" class="form-control" placeholder="e.g +234(0)0000000000" maxlength="14" required="">
						    </div>
						    <div class="form-row col-md-12">
						    	<div class="form-group">
						        	<label for="matNo">Registration No.</label>
						        	<input type="text" id="matNo" class="form-control" name="regNo" placeholder="Registration Number" required="">
						        </div>
						        <div class="form-group">
						          	<label for="entryMode">Mode Of Entry</label>
						          	<select id="entryMode" name="entryType" class="form-control" required="">
						          		<option selected="" value="UME">UME</option>
						          		<option value="CES">CES</option>
						          		<option value="Direct Entry">Direct Entry</option>
						          		<option value="First Degree">First Degree</option>
						          	</select>
						        </div>
						    </div>
						    <div class="form-row col-md-12">
						    	<div class="form-group">
						    		<label for="inputFaculty">Faculty</label>
						    		<select id="inputFaculty" name="faculty" class="form-control" required="">
						    		</select>
						    	</div>
						    </div>
						    <div class="form-row col-md-12">
						    	<div class="form-group">
						    		<label for="inputDept">Department</label>
						    		<select id="inputDept" name="department" class="form-control" required="">
						    		</select>
						    	</div>
						    </div>
						    <div class="form-row col-md-12">
						        <div class="form-group">
						          	<label for="admissionYr">Year Of Admission</label>
						          	<select id="admissionYr" name="admissionYear" class="form-control" required="">
						          	</select>
						        </div>
						        <div class="form-group">
						          	<label for="program">Program</label>
						          	<select id="program" name="degreeProgram" class="form-control" required="">
						          		<option selected="" value="B.Sc.">B.Sc.</option>
						          		<option value="B.A.">B.A.</option>
						          		<option value="B.Ed.">B.Ed.</option>
						          		<option value="M.Sc.">M.Sc.</option>
						          		<option value="M.A.">M.A.</option>
						          		<option value="PhD">PhD</option>
						          		<option value="B.Eng.">B.Eng.</option>
						          		<option value="M.Eng.">M.Eng.</option>
						          	</select>
						        </div>
						    </div>
						</div>
				      </div>
			      	<div class="modal-footer">
			      		<input type="hidden" name="paramRegNo" id="param">
			        	<button type="submit" name="submit" class="btn btn-primary">Save Changes</button>
			        	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			      	</div>
			  	</form>
				</div>
			</div>
		</div>
	</div>

	{% include 'scripts.twig' %}
	
	<script src="js/waitMe.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			var port = 5555;

			$('#details').css("display", "none");
			$('#options').css("display", "none");

			$('#search-form').submit(function(event) {
				event.preventDefault();

				$('body').waitMe({
					effect: 'ios',
					text: 'Searching...',
					bg: 'rgba(255,255,255,0.6)',
					color: '#000',
					maxSize: '',
					waitTime: 2000,
					textPos: 'horizontal',
					fontSize: '18px',
					source: '',
					onClose: function() {
						$('#details').css('display','block');
						$('#options').css('display', 'block');
					}
				});
				var searchParam = $('#searchInput').val();

				var searchOption = $('#search-option').val();
				
				var obj = {param : searchParam, option : searchOption};
				
				var urlParam = JSON.stringify(obj);
				
				
				$.ajax({
					method: "GET",
					url: `http://localhost:${port}/inc/controllers/get-students-data.php?param=${urlParam}`,
					dataType: "json"
				}).then(
					function(data) {
						$('#profile-pic').css("background-image", `url(${data.photo})`);
						$('#info').append(`<p><label>Name :</label> ${data.name}</p>`);
						$('#info').append(`<p><label>Registration Number :</label> ${data.regNo}</p>`);
						$('#info').append(`<p><label>Department :</label> ${data.department}</p>`);
						$('#info').append(`<p><label>Faculty :</label> ${data.faculty}</p>`);
						$('#info').append(`<p><label>Mode Of Entry :</label> ${data.entryType}</p>`);
						$('#info').append(`<p><label>Year Of Admission :</label> ${data.admissionYear}</p>`);
						$('#info').append(`<p><label>Program :</label> ${data.degreeProgram}</p>`);
						$('#info').append(`<p><label>Date Of Birth :</label> ${data.dob}</p>`);
						$('#info').append(`<p><label>Gender :</label> ${data.gender}</p>`);
						$('#info').append(`<p><label>State Of Origin :</label> ${data.stateOfOrigin}</p>`);
						$('#info').append(`<p><label>Local Government Area :</label> ${data.lga}</p>`);
						$('#info').append(`<p><label>Blood Group :</label> ${data.bloodGroup}</p>`);
						$('#info').append(`<p><label>Religion :</label> ${data.religion}</p>`);
						$('#info').append(`<p><label>E-mail Address :</label> ${data.email}</p>`);
						$('#info').append(`<p><label>Phone Number :</label> ${data.phone}</p>`);

						$('#param').val(`${data.regNo}`);

						let names = data.name.split(' ');
						$('#surname4').val(`${names[0]}`);
						$('#firstname4').val(`${names[1]}`);
						$('#middlename4').val(`${names[2]}`);

						$('#dateOfBirth').val(`${data.dob}`);
						$('#gender4').val(`${data.gender}`);
						$('#e-mail').val(`${data.email}`);
						$('#matNo').val(`${data.regNo}`);
						$('#rel').val(`${data.religion}`);
						$('#phoneNum').val(`${data.phone}`);

						$('#bg').val(`${data.bloodGroup}`);
						$('#state').val(`${data.stateOfOrigin}`);
						$('#lg').val(`${data.lga}`);
						$('#inputFaculty').val(`${data.faculty}`);
						$('#inputDept').val(`${data.department}`);
						$('#entryMode').val(`${data.entryType}`);
						$('#admissionYr').val(`${data.admissionYear}`);
						$('#program').val(`${data.degreeProgram}`);

					},
					function(error) {
						alert(error);
					}
				);

			});
		});	
	</script>
	<script type="text/javascript" src="json/nigeria.js"></script>
	<script type="text/javascript" src="json/facultiesData.js"></script>
</body>
</html>