	<!--footer-->
		<div class="copy-w3-agileits">
			<h2 class="footer-logo"><a href="/">University of Calabar <span>Student Admission System.</span></a></h2>
			<p>© 2018 SEARCH . All Rights Reserved</p>
			<div class="clearfix"></div>
		</div>
	<!--/footer -->